/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
button{
 margin-right: 2%;
}
.card , form{
  margin-top: 5%;
}
body{
  background-image: url('src/assets/background1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*{
  font-family: 'Montserrat', sans-serif;
}
.jumbtron h4{
text-align: center;
}
